<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>OAuth Login</title>
	</head>
	<body>
		<h1>OAuth Login</h1>
		<p>
			You should be redirected to login.
		</p>
	</body>
</html>