<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EmailPasswordEntities" connectionString="metadata=res://*/EmailPasswordDB.csdl|res://*/EmailPasswordDB.ssdl|res://*/EmailPasswordDB.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.211.55.9;user id=root;password=pbvu7000;persist security info=True;database=EmailPassword&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>