<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EmailPasswordEntities" 
         connectionString="metadata=res://*/Data.EmailPassword.csdl|res://*/Data.EmailPassword.ssdl|res://*/Data.EmailPassword.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.211.55.9;User Id=Portal;password=GECKONpbvu7000;Persist Security Info=True;database=EmailPassword&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>